/* As for the CSS, the width is something I'm pretty concerned and unskilled about widths and lengths and placement
Today I'm just going to style the head and main divs bcause those matter for now. */
body {background-color: black;
           margin: 0;
           padding: 0; }
           
.header { background-color: #080847 ;
                border: solid 3px blue; 
                font: 20px "Eurostile", Sans-Serif ;
                border-radius: 0px;
                color: white;
                width: 1800px; 
                display: flex;
                margin: 0 auto;
                position: relative;        
                }

.main { background-color: #080847;
                border: solid 3px blue; 
                font: 18px "Eurostile", Sans-Serif ;
                border-radius: 10px; 
                color: rgb(255, 255, 255);
                width: 1180px;
                margin: 0 auto; }

ul { list-style: none;
    inset: 2px 10px 2px 10px;
    position: relative;
    justify-content: center;
    display: flex;
}
     


li { 
    
    display: inline;  
    margin: 0px 20px ; 
    position: relative;
    inset: 2px 50px 2px 50px;
    justify-content: center;

}

@font-face {
    font-family: Eurostile;
    src: url("eurostile.TTF");
}
